.component{
    width: 46%;
}
.list{
    max-height: calc(100vh - 490px);
    overflow-x: hidden;
    overflow-y: scroll;
}
.ingredient{
    display: flex;
    align-items: center;
}
.ingredient:last-child{
    margin-bottom: 0px;
}
.sendOrder{
    float: right;
    display: flex;
    align-items: center;
}