.section {
  width: 1333px;
  height: calc(100vh - 88px);
  display: flex;
}
.section > div {
  width: 350px;
}
.section ul {
  padding-left: 0;
}
.section li {
  list-style-type: none;
  margin: calc(var(--offset-base-size) * 6) 0;
}

.right_align {
  display: flex;
  justify-content: flex-end;
}
