.component {
  width: 50%;
}

.ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  padding-left: 0px;
  max-height: 663px;
  overflow-y: scroll;
}

.li {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  cursor: pointer;
  
}
.component a {
  width: 100%;
}

.link {
  text-decoration: none;
  color: #f2f2f3;
}
