.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.component ul {
  display: flex;
  justify-content: space-between;
  width: 620px;
}

.component li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component ul span {
  margin-top: 10px;
}