.ingredient_details{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.nutrition_facts{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nutrition_facts div{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.nutrition_facts span{
 margin-top: 10px;
}