.ingredient-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ingredient-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 290px;
}

.ingredient-card:nth-child(odd){
    margin-right: calc(var(--offset-base-size)  * 6);
}

.ingredient-price{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-v-center{
    display: flex;
    align-items: center;
}

.text-center{
    text-align: center;
}

