.ingredient_block{
    width:51%;
}
.ingredient_block_scroll{
    max-height: calc(100vh - 255px);
    overflow-y: scroll;
    overflow-x: hidden;
}
.ingredient_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ingredient_card{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 47%;
    cursor:pointer;
}

.ingredient_card:nth-child(odd){
    margin-right: calc(var(--offset-base-size)  * 6);
}

.ingredient_price{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_v_center{
    display: flex;
    align-items: center;
}

.text_center{
    text-align: center;
}

.tabs{
    display: flex;
}

.counter{
    position: absolute;
    top:0;
    right: 10px;
}