.header{
    font-size: 40px;
}

.navbar{
    display: flex;
    align-content: stretch;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 88px;
    padding-left: 18%;
    padding-right: 18%;
    justify-content: space-evenly;
    background: #1C1C21
}

.navbar_item{
    width:33%;
    display: flex;
    justify-content: center;
}

.navbar_item:first-child{
    justify-content: flex-start;
}
.navbar_item:last-child{
    justify-content: flex-end;;
}

.navbar_item a{
    display: flex;
    align-items: center;;
}

.text_secodary{
    color:#8585AD;
}