header{  
    display: flex;
    justify-content: center;
    width: 100%;
    background: #1C1C21;
}
nav{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 88px;
    justify-content: space-around;
    width: 1333px;
}
nav > div {
    width:33%;
    display: flex;
    justify-content: center;
}
nav>div:first-child{
    justify-content: flex-start;
}
nav>div:last-child{
    justify-content: flex-end;;
}
nav>div>a{
    display: flex;
    align-items: center;
    color:#8585AD;
}
.active{
    color:white;
}
nav a{
    text-decoration: none;
}